<a href="https://colab.research.google.com/github/WaelBeldi/checkpoint-python-data-structures/blob/main/Checkpoint_Python_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Question 1 : Write a Python program that multiplies all the items in a list.
sample_list = [2, 3, 6]
total = 1
for x in sample_list:
    total *= x
print(total)

36

In [2]:
# Question 2 : Write a Python program to get a list, sorted in increasing order by the last element in each tuple, from a given list of non-empty tuples.
sample_list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

sample_list.sort(key=lambda x: x[-1])

print("Sorted List:", sample_list)

Sorted List: [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [3]:
# Question 3 : Write a Python program that combines two dictionaries by adding values for common keys.
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

result = d1.copy()

for key in d2:
    if key in result:
        result[key] += d2[key]
    else:
        result[key] = d2[key]

print(result)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [7]:
# Question 4 :
# With a given integral number n, write a program to generate a dictionary that contains (i, i*i) so that is an integral number between 1 and n (both included).
# Then the program should print the dictionary. Suppose the following input is supplied to the program: 8. Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
n = int(input("Enter a number: "))

result_dict = {}

for i in range(1, n + 1):
    result_dict[i] = i * i

print(result_dict)

Enter a number: 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [29]:
# Question 5 : Write a program to sort a tuple by its float element.
typle_list = [('item1', '12.20'), ('item5', '4.5'), ('item2', '15.10'), ('item4', '25.5'), ('item3', '24.5')]

temp_list = []
for item_name, string_value in typle_list:
    float_value = float(string_value)
    # Append the item with the float value first so standard sort works
    temp_list.append((float_value, item_name, string_value))

# 2. Sort the temporary list.
#    The list is automatically sorted based on the first element, which is now the float.
#    Since the expected result is descending, use reverse=True.
temp_list.sort(reverse=True)

# 3. Reconstruct the final list in the original (name, string_value) format.
sorted_result = []
for float_value, item_name, string_value in temp_list:
    # Recreate the tuple in the required (item_name, string_value) format
    sorted_result.append((item_name, string_value))

# Output the final sorted list
print(f"Sorted Result: {sorted_result}")

Sorted Result: [('item4', '25.5'), ('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20'), ('item5', '4.5')]

In [32]:
# Question 6 :
# Write a Python program to create a set.
my_set = {0, 1, 2, 3, 4}

# Write a Python program to iteration over sets.
for num in my_set:
    print(f"Current number: {num}")

# Write a Python program to add members in a set and to remove items from a given set.
# Add multiple members using .update()
new_numbers = [5, 6, 7]
my_set.update(new_numbers)
print(f"Updated Set: {my_set}")

# Removing an existing item using .remove()
my_set.remove(3)
print(f"Set after removing 3: {my_set}")

Current number: 0
Current number: 1
Current number: 2
Current number: 3
Current number: 4
Updated Set: {0, 1, 2, 3, 4, 5, 6, 7}
Set after removing 3: {0, 1, 2, 4, 5, 6, 7}